.icon {
	display: inline-block;
	margin: 8px 50px;
	font-size: 40px;
	font-family: cursive;
}

.navigator {
	height: auto;
	width: 100%;
	position: fixed;
	top: 0;
}

.navigator ul {
	float: right;
	margin-right: 40px;
}

.navigator li {
	display: inline-block;
	margin: 0 5px;
	padding: 10px 15px;
	letter-spacing: -0.02em;
	transition: 0.5s;
}

.navigator li:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.greeting {
	margin: 50px auto;
}

.greeting-1 {
	font-size: 70px;
	margin: 10px auto;
}

.greeting-2 {
	font-size: 25px;
	margin: 0 auto;
	width: fit-content;
	white-space: nowrap;
	border-right: .15em solid white;
	animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
 	from, to { border-color: transparent }
 	50% { border-color: white; }
}

.center-button {
	display: block;
	margin: 20px auto;
	border: white solid 2px;
	border-radius: 50px;
	color: white;
	background-color: black;
	font-size: 30px;
	padding: 15px;
	transition: 1.5s;
	visibility: hidden;

	animation: displayButton 2s;
	animation-delay: 7.5s;
	-webkit-animation: displayButton 2s;
	-webkit-animation-delay: 7.5s;
}

@keyframes displayButton {
	from {opacity: 0}
	to {opacity: 100%}
}
@-webkit-keyframes displayButton {
	from {opacity: 0}
	to {opacity: 100%}
}

.center-button:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}
